body {
  margin: 0;
  background-color: #edf7fa;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin-top: 0;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

.top-container {
  background-color: #edf7fa;
  position: relative;
  padding-top: 100px;
}

.middle-container{
  background-color: #ffb677;
}

.bottom-container{
  background-color: #ff8364;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}
